@import "src/app/main";

.header__nav {
  padding: 0 108px;

  &_list {
    display: flex;
    justify-content: space-between;
  }

  &_item {
    padding: 6px 22px 3px;
    font-family: Steppe, serif;
    font-size: 18px;
    line-height: 22px;
    color: $navBlack;
    transition: .1s linear;

    &:hover {
      color: $navHover;
      cursor: pointer;
    }

    &-active {
      outline: 1px solid $white;
    }
  }
}