@import "src/app/fonts/fonts";

$headerBackground: #BCC8BA;
$mainBlack: #0C2008;
$navBlack: #0C1C09;
$white: #FFFFFF;
$navHover: #E1F0DF;

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 1500px;
  margin: 0 auto;
}