@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Steppe';
  src: url('/src/app/fonts/Steppe.woff') format('woff'),
  url('/src/app/fonts/Steppe.woff2') format('woff2'),
  url('/src/app/fonts/Steppe.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}